* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: orangered;
  margin-bottom: 1em;

  .prevBtn {
    background: {
      image: url("../assets/left-arrow.png");
      repeat: no-repeat;
      size: cover;
    }
    width: 1em;
    height: 1em;
    margin: 0 0.5em;

    &:hover {
      cursor: pointer;
    }
  }

  .nextBtn {
    background: {
      image: url("../assets/right-arrow.png");
      repeat: no-repeat;
      size: cover;
    }
    width: 1em;
    height: 1em;
    margin: 0 0.5em;

    &:hover {
      cursor: pointer;
    }
  }
}

.main {
  border: 1px solid lightgray;

  .week {
    display: flex;

    .day {
      background-color: gray;
      color: white;
      border: 1px solid lightgray;
    }
  }

  .week,
  .dates {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .day,
    .date {
      text-align: center;
      width: calc(100% / 7);
    }

    .date {
      min-height: 7em;

      .daynum {
        background-color: rgb(245, 240, 240);
      }

      .dayin {
        display: flex;
        margin: 0.2em 0;
        text-align: start;

        .start_icon {
          display: block;
          background-color: rgb(255, 123, 0);
          color: #ffffff;
          border-radius: 5px;
          font-size: 0.8em;
          padding: 0.1em;
          width: fit-content;
          margin: 0 0.2em;
          max-height: 1.5em;
        }

        .end_icon {
          display: block;
          background-color: rgb(25, 25, 71);
          color: #ffffff;
          border-radius: 5px;
          font-size: 0.8em;
          padding: 0.1em;
          width: fit-content;
          margin: 0 0.2em;
          max-height: 1em;
          max-height: 1.5em;
        }
      }
    }
  }
}
